/* Стилі дльа сторінок про тваринні символи */
* {
  font-family: Arial;
  font-style: medium;
  color: hsla(1, 0%, 0%, 1);
  }
a {
   color: FireBrick;
   text-decoration: none;
  }
img {
    border-radius: 100%;
    }
h1 {
    color     : FireBrick;
   }
p  {
   font-size : 120%;
   line-height: 1.5em;
   font-weight: bold;
   text-align: width;
   } 


