/* Стилі дльа сторінок про тваринні символи */
* {
  font-family: Roboto, Arial;
  color: hsla(1, 0%, 0%, 1);
  }
a {
   color: FireBrick;
   text-decoration: none;
  }
img {
    border-radius: 100%;
    }
h1 {
    color     : FireBrick;
   }
p  {
   font-size : 16px;
   } 


